[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
mypy = "*"
black = "*"
chardet = "*"
jinja2 = "*"
httpx = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
